.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 10;
  bottom: 0.5rem;
  right: 0.5rem;
}

.contentLayout {
  height: 18rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--grayish-blue);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.6s;
}
.contentLayoutHidden {
  height: 0;
  opacity: 0;
}

:is(.button, .link) {
  --toggle-menu-button-size: 3.5rem;
  width: var(--toggle-menu-button-size);
  height: var(--toggle-menu-button-size);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;

  background-color: white;

  padding: 1rem;

  cursor: pointer;
}
:is(.button, .link) img {
  width: var(--toggle-menu-button-size);
  filter: brightness(0) saturate(100%) invert(34%) sepia(15%) saturate(777%)
    hue-rotate(177deg) brightness(98%) contrast(89%);
}
:is(.button .link) {
  --menu-content-buttons-size: 3.3rem;
  width: var(--menu-content-buttons-size);
  height: var(--menu-content-buttons-size);
}
.link {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
}
