.button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  --size: 3rem;
  height: var(--size);
  width: var(--size);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: none;
  background-color: transparent;

  color: var(--tomato-red);

  cursor: pointer;

  transition: 0.3s background-color;
}
.button:hover {
  background-color: var(--light-cyan);
}
